html {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

body {
  /* background: url(/images/sauvageDark.jpeg); */
  background-color: #000;
  background-size: cover;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  background-repeat: no-repeat;
  -webkit-animation: textcolor 2s;
}

#sanctuaryVideo {
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

* , *:before, *:after{ 
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
}



@-webkit-keyframes textcolor {
  0% {
    color: #000;
  }
  100% {
    color: #bbb7b7;
  }
}

.mainpage-title {
  color: #000;

  opacity: 0.5;
  position: relative;
  display: flex;
  font-family: "Shippori Mincho B1", serif;
  margin: auto;
  font-size: 50px;
  text-align: center;
  width: 100%;
  justify-content: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  /* background: url(/images/sauvageDark.jpeg); */
  /* background-color: #000; */
}
.content {
  /* background: url(/images/sauvageDark.jpeg); */
}

a.twitter-icon {
  background: url(/images/twitter-icon.png);
  width: 50px;
  height: 50px;
  background-size: cover;
  display: block;
  margin-left: 5px;
  margin-right: 5px;
}

a.fdn-icon {
  width: 70px;
  background: url(/images/fdn-logo.png);
  height: 70px;
  background-size: cover;
  display: block;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar__links {
  color: #e6e4df;
  display: flex;
  width: 20%;
  height: 30px;
  position: absolute;
  right: 10%;
  top: 8px;
  border-width: 1px;
  justify-content: center;
}

.navbar__center {
  font-size: 16px;
  color: #e6e4df;
  background-color: #000;
  opacity: 0.5;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  display: flex;
  margin: auto;
  margin-top: 15px;
  justify-content: center;
  padding: 5px 10px;
  width: 50%;
  flex-direction: row;
  justify-content: space-evenly;
}
.header-link {
  text-decoration: none;
}
.collections-link {
  text-decoration: none;
  color: #e6e4df;
  font-weight: 300;
  font-size: 18px;
  opacity: 1;
}
.collections-link:hover {
  /* color:  /* color: firebrick; */
}
.about-link {
  /* font-family: "Shippori Mincho B1", serif; */

  text-decoration: none;
  color: rgba(255, 255, 255, 255);
  font-weight: 300;
  font-size: 18px;
}
.about-link:hover {
  /* color:  /* color: firebrick; */
}

.header-link:hover {
}

@media (min-width: 320px) and (max-width: 750px) {
  .navbar__center {
    width: 80%;
  }

  .mainpage-title {
    z-index: -1;
    color: #bbb7b7;
    opacity: 1;
    margin-top: -35%;
    font-size: 40px;
  }
  body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 200%;
  }

  a.twitter-icon {
    width: 100px;
    height: 100px;
    background-size: cover;
  }

  a.fdn-icon {
    width: 100px;
    height: 100px;
    background-size: cover;
  }

  .navbar__links {
    top: 90%;
    width: 100%;
    height: 100px;
    right: 0;
    justify-content: right;
  }
}

@media (min-width: 750px) {
  body {
    /* background-position: 0 350px; */
  }
}
